.par-header-menu {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}

.par-header-menu a {
  padding: 0 18px;
  line-height: 1.3em;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}

.par-banner-h1 {
  font-family: "Inter";
  font-size: 52px;
  font-weight: 600;
  line-height: 62.4px;
}

.par-banner-p {
  font-family: "Heebo";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.par-btn {
  color: #252425;
  background-color: #fcbc45;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  padding: 14px 30px;
}

.par-h4 {
  color: #fcbc45;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
}

.par-h2 {
  font-family: "Inter";
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 600;
  text-transform: capitalize;
}

.par-p {
  font-family: "Heebo";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.par-counting-icon {
  color: #fcbc45;
  font-size: 48px;
}

nav .container {
  background: rgb(122, 122, 122, 0.5);
  height: 84px;
  border-radius: 5px;
}

.play-video {
  height: 56px;
  width: 56px;
  align-items: center;
}

.play-video a {
  color: black;
}

.video-play-button {
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: inline-block;
  margin: 20px 10px 0px 60px;
  border-radius: 50%;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 56px;
  height: 56px;
  background: gray;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover {
  background: 
}

.video-play-button:hover:after {
  background-color: #FCBC45;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 80%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 18px solid black;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}